# <center> <b> FINAL TEST

In [5]:
# Câu 1: Bạn hãy xây dựng một hàm nhận tham số truyền vào là 1 chuỗi ký tự bất kỳ. 
# Hàm kiểm tra và trả về kết quả chuỗi trên là một đoạn password hợp lệ hay không, biết 
# rằng password hợp lệ cần thoả mãn các tiêu chí: 
# - Chứa 1 ký tự đặc biệt trong các ký tự !, @, #, $, ^ 
# - Chứa ít nhất một ký tự số 
# - Chứa ít nhất một ký tự chữ cái viết hoa 
# - Chứa ít nhất một ký tự chữ cái viết thường 
# - Độ dài từ 8 - 15 ký tự. (0.75đ)
import re

def isValidPassword(password):
    reLessUpperCaseChar = re.compile(r"[A-Z]")
    reLessLowerCaseChar = re.compile(r"[a-z]")
    reLessDigitChar = re.compile(r"\d")
    reLessSpecialChar = re.compile(r"[!@#$%^]")
    if (
            reLessUpperCaseChar.search(password) and
            reLessLowerCaseChar.search(password) and
            reLessDigitChar.search(password) and
            reLessSpecialChar.search(password) and
            (len(password) >= 8 and len(password) <= 15)
       ):
        print(f"Password: {password} hợp lệ")
    else:
        print(f"Password: {password} không hợp lệ")

isValidPassword("Hoilamgi1!")
isValidPassword("dadmadada312qdd")
isValidPassword("ddoaodj434!@F")
isValidPassword("ddoaodj434!@Fddadadddqwqellaldsadpadmmsdmadmasdmada")

Password: Hoilamgi1! hợp lệ
Password: dadmadada312qdd không hợp lệ
Password: ddoaodj434!@F hợp lệ
Password: ddoaodj434!@Fddadadddqwqellaldsadpadmmsdmadmasdmada không hợp lệ

In [17]:
# Câu 3: Bạn hãy xây dựng một hàm nhận tham số truyền vào là một danh sách bất kỳ 
# chỉ chứa các số. Hàm tính toán và trả về số lớn nhì trong danh sách. Với trường hợp danh sách gồm các số bằng nhau, 
# hàm trả về số lớn nhất. Nếu có nhiều giá trị bằng số lớn nhì trong danh sách, hàm trả về 1 giá trị duy nhất. 
# Ví dụ:  
# - Với danh sách [1,1,1,1,1,1] -> Hàm trả về 1 
# - Với danh sách [1,2,1,1,2,3] -> Hàm trả về 2
def isvalidNumber(lst):
    flagCheck = True
    print(f"Danh sách: {lst}")
    reValidNUmber = re.compile(r"^-?\d+(\.\d+)?$")
    for item in lst:
        if reValidNUmber.search(str(item)):
            pass
        else:
            print(f"Item: {item} không phải số")
            flagCheck = False
    return flagCheck

def isSameValueInList(lst):
    flag = True
    for item in lst:
        if item == lst[0]:
            pass
        else:
            flag = False
            break
    return flag

def arrangeValueInList(lst):
    n = len(lst)
    for i in range(n):
        for j in range(0, n - i - 1):
            if lst[j] < lst[j + 1]:
                # Hoán đổi nếu phần tử trước nhỏ hơn phần tử sau
                lst[j], lst[j + 1] = lst[j + 1], lst[j]
    # Trả về danh sách giảm dần
    return lst

def returnSecondLargetNumber(lst):
    if len(lst) == 0:
        print("Danh sách rỗng")
    else:        
        isvalid = isvalidNumber(lst)
        if isvalid is True:
            isSameValue = isSameValueInList(lst)
            if isSameValue is False:
                lst = arrangeValueInList(lst)
                print(f"Danh sách sau khi sắp xếp giảm dần: {lst}")
                print(f"Số lớn thứ 2 trong danh sách: {lst[1]}")
            else:
                print(f"Số lớn thứ 1 trong danh sách: {lst[0]}")
        else:
            print("[!]: Vui lòng nhập lại danh sách")

returnSecondLargetNumber([1, 5, 2, 14, 8.98, 321])
print("\n")
returnSecondLargetNumber([1, 5, 2, "abc", 8.98, 321])
print("\n")
returnSecondLargetNumber([1, 2, 1, 1, 2, 3])
print("\n")
returnSecondLargetNumber([1, 1, 1, 1, 1, 1])

Danh sách: [1, 5, 2, 14, 8.98, 321]
Danh sách sau khi sắp xếp giảm dần: [321, 14, 8.98, 5, 2, 1]
Số lớn thứ 2 trong danh sách: 14


Danh sách: [1, 5, 2, 'abc', 8.98, 321]
Item: abc không phải số
[!]: Vui lòng nhập lại danh sách


Danh sách: [1, 2, 1, 1, 2, 3]
Danh sách sau khi sắp xếp giảm dần: [3, 2, 2, 1, 1, 1]
Số lớn thứ 2 trong danh sách: 2


Danh sách: [1, 1, 1, 1, 1, 1]
Số lớn thứ 1 trong danh sách: 1

In [ ]:
# Câu 2: Bạn hãy đọc ﬁle dữ liệu với pandas. Và giải quyết các câu sau: 
# A. Bạn hãy lấy ra các đơn hàng thuộc Branch A hoặc C (0.25đ) 
# B. Bạn hãy tìm ra các đơn hàng mua sản phẩm là ‘Health and beauty’ hoặc ‘Sports and 
# travel’ (0.25đ) 
# C. Cột InvoiceID, giá trị được lưu trữ theo dạng XXX-StoreID-XXXX. 
# Bạn hãy tạo 1 dataframe mới gồm các cột như trên ﬁle và tạo thêm một cột StoreID 
# được tách từ InvoiceID. 
# Sau đó tính tổng doanh số của từng StoreID đó. (0.25đ)

In [18]:
import pandas as pd

In [ ]:
df = pd.read_csv("supermarket_sales.csv")

In [21]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17

In [28]:
# Bạn hãy lấy ra các đơn hàng thuộc Branch A hoặc C
filtered_df = df[(df['Branch'] == "A") | (df['Branch'] == "C")]
print(f"Danh sách đơn hàng thuộc Branch A hoặc C: \n{filtered_df['Invoice ID']}")

Danh sách đơn hàng thuộc Branch A hoặc C:
0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
994    652-49-6720
995    233-67-5758
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: Invoice ID, Length: 668, dtype: object

In [29]:
# B. Bạn hãy tìm ra các đơn hàng mua sản phẩm là ‘Health and beauty’ hoặc ‘Sports and travel’
filtered_df = df[(df['Product line'] == "Health and beauty") | (df['Product line'] == "Sports and travel")]
print(f"Danh sách đơn hàng thuộc sản phẩm Health and beauty hoặc Sports and travel: \n{filtered_df['Invoice ID']}")

Danh sách đơn hàng thuộc sản phẩm Health and beauty hoặc Sports and travel:
0      750-67-8428
3      123-19-1176
4      373-73-7910
8      665-32-9167
14     829-34-3910
          ...
986    764-44-8999
987    552-44-5977
989    430-53-4718
991    602-16-6955
995    233-67-5758
Name: Invoice ID, Length: 318, dtype: object

In [ ]:
# C. Cột InvoiceID, giá trị được lưu trữ theo dạng XXX-StoreID-XXXX. 
# Bạn hãy tạo 1 dataframe mới gồm các cột như trên ﬁle và tạo thêm một cột StoreID 
# được tách từ InvoiceID. 
# Sau đó tính tổng doanh số của từng StoreID đó. 
newdf = df
newdf['StoreID'] = newdf['Invoice ID'].str.split("-" , expand = True)[1]
newdf.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs,StoreID
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83,67
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40,31
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31,41
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76,19
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17,73

In [35]:
# Tạo new column Sum Sales
newdf['Sum Sales'] = df['Unit price'] * df['Quantity']
newdf.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs,StoreID,Sum Sales
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83,67,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40,31,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31,41,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76,19,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17,73,604.17

In [39]:
sumSales = df.groupby('StoreID').agg(
             totalSales = ('Sum Sales', 'sum'),
)
sumSales

         totalSales
StoreID
01          5418.11
02          3864.69
03          4023.86
04          5441.09
05          2578.99
...             ...
95          3070.69
96          4681.04
97           916.60
98          3706.48
99          1627.19

[99 rows x 1 columns]